<a href="https://colab.research.google.com/github/sivaganesh7/Machine-learning-/blob/note-books/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
import numpy as np

#**pandas series**

In [ ]:
s=pd.Series([12,2,3,6],index=['a', 'b', 'c', 'd'])
print(s)
print(s.describe())
print(s.std())
print(s.min())
print(s.max())
print(s.mean())
print(s.shape)

a    12
b     2
c     3
d     6
dtype: int64
count     4.00
mean      5.75
std       4.50
min       2.00
25%       2.75
50%       4.50
75%       7.50
max      12.00
dtype: float64
4.5
2
12
5.75
(4,)

#Create DataFrames

In [ ]:
dt=pd.DataFrame([10,20,25,3,4]) #DataFrame
print(dt)
stud={'reg no':[28,24,30],
      'Name':['siva','sai','kumar'],
      'CGPA':[8.9,9.1,9.6]}
print(stud)
std_dt=pd.DataFrame(stud) #DataFrame
print(std_dt)
print("\n",std_dt[std_dt['CGPA']>3])

    0
0  10
1  20
2  25
3   3
4   4
{'reg no': [28, 24, 30], 'Name': ['siva', 'sai', 'kumar'], 'CGPA': [8.9, 9.1, 9.6]}
   reg no   Name  CGPA
0      28   siva   8.9
1      24    sai   9.1
2      30  kumar   9.6

    reg no   Name  CGPA
0      28   siva   8.9
1      24    sai   9.1
2      30  kumar   9.6

In [4]:
# Team roles data
roles_data = {
    'Name': ['Dodagatta Nihar', 'Vignesh', 'Maheshwar', 'Naman', 'Naveen', 'Shreya', 'Varsha', 'Varun'],
    'Role': ['Founder', 'Growth Manager', 'Community Manager', 'Community Manager', 'Community Manager',
             'Course Designer', 'Course Designer', 'Public Relations Manager']
}

roles_df = pd.DataFrame(roles_data)

# Contact information data
contact_data = {
    'Name': ['Dodagatta Nihar', 'Vignesh', 'Maheshwar', 'Naman', 'Naveen', 'Shreya', 'Varsha', 'Varun'],
    'Phone Number': ['111-111-1111', '222-222-2222', '333-333-3333', '444-444-4444',
                     '555-555-5555', '666-666-6666', '777-777-7777', '888-888-8888'],
    'Email': ['nihar@masscoders.tech', 'vignesh@masscoders.tech', 'maheshwar@masscoders.tech', 'naman@masscoders.tech',
              'naveen@masscoders.tech', 'shreya@masscoders.tech', 'varsha@masscoders.tech', 'varun@masscoders.tech']
}

contact_df = pd.DataFrame(contact_data)

##DataFrame Methods:

In [ ]:
stud={'Reg no':[28,24,30],
      'Name':['siva','sai','kumar'],
      'CGPA':[8.9,9.1,9.6]}
std_dt=pd.DataFrame(stud)
print(std_dt,"\n")

#methods
print("\nHead: ",std_dt.head(1)) #return upto first 5 records if not mention
print("\nTail: ",std_dt.tail()) #return upto last 5 records if not mention
print("\n",std_dt.info()) # Summary of DataFrame
print("\n describe:\n ",std_dt.describe())    # Statistics for numerical columns
print("\n shape: ",std_dt.shape)         # Dimensions of the DataFrame
print("\n colums: ",std_dt.columns)       # Column names
print("\n index: ",std_dt.index)         # Index range
print(std_dt.loc[2])       # Select by index label
print(std_dt.iloc[1])      # Select by index position

##CSV Files

In [ ]:
cf=pd.read_csv('coffee.csv')
# print(cf)
# print(cf.head())
# print(cf.tail())
# print(cf.info())
# print(cf.describe())
print(cf.to_string())
excel1=pd.read_excel('example excel.xlsx')
# print(excel1)
print(excel1.to_string())
print(pd.options.display.max_rows)
print(pd.options.display.min_rows)

#**Handling Missing Data:**

In [ ]:
s=pd.Series([2,33,np.nan,20,33,np.nan,55])
print(s)
print(s.isnull()) #isnull
print(s.notnull()) #isnotnull
filled = s.fillna(9) #fills null places with some value
print(filled)
print(s.dropna())

0     2.0
1    33.0
2     NaN
3    20.0
4    33.0
5     NaN
6    55.0
dtype: float64
0    False
1    False
2     True
3    False
4    False
5     True
6    False
dtype: bool
0     True
1     True
2    False
3     True
4     True
5    False
6     True
dtype: bool
0     2.0
1    33.0
2     9.0
3    20.0
4    33.0
5     9.0
6    55.0
dtype: float64
0     2.0
1    33.0
3    20.0
4    33.0
6    55.0
dtype: float64

#**Indexing, Slicing, and Filtering:**

##s.iloc[ ]: Purely integer-location based indexing.

In [ ]:
# Indexing by position
s = pd.Series([1, 3, 5, 7, 9])
print(s.iloc[0])  # First element
print(s.iloc[-1])  # Last element

##s.loc[ ]: Label-based indexing.

In [ ]:
# Indexing by label
print(s.loc[0])  # First element
print(s.loc[4])  # Last element

1
9

In [ ]:
from google.colab import drive
drive.mount('/content/drive')